body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.slider {
    background-color: rgb(230, 0, 127);
    border: 10px solid #000000;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.image-display {
    margin-bottom: 10px;
}

.image-display img {
    max-width: 50%;
    border-radius: 10px;
}

.controls {
    margin: 10px 0;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #d9c5c5;
    color: rgb(5, 0, 0);
    cursor: pointer;
    margin: 0 5px;
    font-size: 16px;
}

button:hover {
    background-color: #b35a00;
}

.status {
    margin-top: 10px;
    font-size: 16px;
}